<%- layout('layouts/sistema.ejs') %>
<div id="layoutSidenav_content">
  <main>
      <div class="container-fluid px-4">
          <h1 class="mt-4">Inventario</h1>
          <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item active">Lista de productos</li>
          </ol>
          <div class="card mb-4">
                  <div class="card-body">
                    <div class="table-responsive">
                    <table id="tabla-productos" class="table table-striped table-hover align-middle">
                      <thead class="encabezado-tabla text-center">
                        <tr>
                          <th>#</th>
                          <th>Imagen</th>
                          <th>Nombre</th>
                          <th>Marca</th>
                          <th>Codigo</th>
                          <th>Categoría</th>
                          <th>Descripción</th>
                          <th>Precio</th>
                          <th>Stock</th>
                          <th>Fecha de Alta</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>#</th>
                          <th>Imagen</th>
                          <th>Nombre</th>
                          <th>Marca</th>
                          <th>Codigo</th>
                          <th>Categoría</th>
                          <th>Descripción</th>
                          <th>Precio</th>
                          <th>Stock</th>
                          <th>Fecha de Alta</th>
                          <th>Acciones</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        <% productos.forEach((p, i) => { %>
                          <tr>
                            <td><%= i + 1 %></td>
                            <td><img src="<%= p.imagen %>" alt="imagen" class="img-thumbnail" style="width: 60px;"></td>
                            <td><%= p.nombre %></td>
                            <td><%= p.marca %></td>
                            <td><%= p.codigo %></td>
                            <td><%= p.categoria %></td>
                            <td><%= p.descripcion %></td>
                            <td>$<%= p.precio.toFixed(2) %></td>
                            <td><%= p.stock %></td>
                          <!-- Mostrar el la feha con formato en español -->
                          <td><%= new Date(p.fecha_ingreso).toLocaleString('es-MX', {
                            year: 'numeric',
                            month: 'long',
                            day: 'numeric',
                            hour: 'numeric',
                            minute: '2-digit',
                            hour12: true
                          }) %>
                        </td>
                            <td class="text-center">
                              <div class="btn-group btn-group-sm" role="group">
                                <a href="/productos/editar/<%= p._id %>" class="btn btn-outline-dark" title="Editar">
                                  <i class="fas fa-edit"></i>
                                </a>
                                <form action="/productos/eliminar/<%= p._id %>" method="POST" onsubmit="return confirm('¿Eliminar este producto?');">
                                  <button type="submit" class="btn btn-outline-danger btn-sm" title="Eliminar">
                                    <i class="fas fa-trash"></i>
                                  </button>
                                </form>
                              </div>
                            </td>
                          </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
              </div>
          </div>
      </div>
  </main>
